@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-main-bg: hsl(185, 41%, 84%);
  --clr-primary-bg: hsl(0, 0%, 100%);
  --clr-secondary-bg: hsl(183, 100%, 15%);

  --clr-main-f: hsl(189, 41%, 97%);
  --clr-primary-f: hsl(184, 14%, 56%);
  --clr-secondary-f: hsl(186, 14%, 43%);
  --clr-strong-f: hsl(172, 67%, 45%);
}

/*=============================================
=                Global Styles                =
=============================================*/
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*=====  End of Global Styles  ======*/
